@import '../../../common.styl'

.screenWrapper
  padding 28px
  overflow hidden
  position: absolute
  left: 84px
  top: 0
  right: 0
  bottom 0 

.screen
  background white
  coolScrollbar()


.items
  display block
